<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redirect to www, excluding sitemap.xml and robots.txt -->
                <rule name="Redirect to www" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^www\.(.*)$" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(sitemap\.xml|robots\.txt)$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                
                <!-- Single Page Application Rewrite Rule, excluding sitemap.xml and robots.txt -->
                <rule name="ReactAppRouting" stopProcessing="true">
                    <match url="^(?!.*\.(css|js|html|png|jpg|jpeg|gif|svg|ico|xml|txt)$).*$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="^/(sitemap\.xml|robots\.txt)$" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>

        <!-- Static Content Caching -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
