@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('./fontello.css');


* {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

.text-regular {
   color: var(--bs-body-color);
   font-weight: 400;
}

#root {
   height: 100vh;
}

.flex-1 {
   flex: 1;
}

.table {
   --bs-table-color: var(--bs-white);
   --bs-table-striped-color: var(--bs-white);
   --bs-table-accent-bg: var(--bs-secondary);
   --bs-table-striped-bg: #4E5F24;
   border-radius: 2px;
}

.table> :not(caption)>*>* {
   text-align: center;
}

th:last-child {
   border-top-right-radius: 8px;
}

th:first-child {
   border-top-left-radius: 8px;
}

tr:last-child td:first-child {
   border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
   border-bottom-right-radius: 8px;
}

.pointer {
   cursor: pointer;
}

.text-shadow {
   text-shadow: 1px 1px 1px #000;
}

.text-white {
   color: var(--bs-white);
}

.width-700 {
   width: 700px;
}

.full-width {
   width: 100%;
}

.full-height {
   height: 100%;
}

.bi-arrow-right::before {
   content: "\f138";
   padding-top: 7px;
}

.nav-link.active {
   font-weight: bold;
   color: var(--bs-primary) !important;
}

.nav-tabs .nav-link {
   color: var(--bs-secondary);
   font-weight: 700;
   border-color: var(--bs-nav-tabs-link-hover-border-color);
   border-bottom: 0px;
}

.offcanvas-header{
   padding-top: 15px;
}

a {
   display: flex;
   text-decoration: none;
   color: white;
   font-weight: 300;
}

.map-class {
   position: absolute;
   top: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
}

.map-class>div {
   height: 100% !important;
   width: 100%;
}

/* --- MAIN PAGE --- */

.carousel-img {
   width: 100%;
   height: calc(100vh - 99px);
   object-fit: cover;
   object-position: center;
}

.carousel p,
.carousel h1 {
   text-shadow: 1px 1px 1px #000;
}

.carousel-caption {
   height: 100%;
   position: absolute;
   right: 15%;
   left: 15%;
   padding-top: 1.25rem;
   padding-bottom: 1.25rem;
   color: #fff;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.scroll-up-button{
   position: fixed;
   bottom: 161px;
   right: 6%;
   font-weight: bold;
   font-size: 22px;
   z-index: 20;
}

/* ----------------------*/

/* ------ ICONS ------*/
i {
   color: rgb(214, 212, 212);
}

.socials i {
   margin-right: 15px;
}

.icon-big-container {
   display: flex;
   gap: 20px;
}

.icon-container {
   margin-top: 10px;
   display: flex;
   padding: 15px;
}

.icon-container i {
   margin-right: 5px;
   margin-bottom: 15px;
}

/* --------------------*/
/* ------ FOOTER ------*/
footer {
   position: relative;
   bottom: 0;
   left: 0;
   width: 100%;
}

.footer-up {
   background-color: #304148;
   border-bottom: 1px solid var(--bs-white);
}

.footer-up-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   color: rgb(214, 212, 212);
   padding: 25px 0;
}

footer img {
   width: 139px;
   height: 73px;
   margin-right: 20px;
}

.footer-down {
   background-color: #304148;
   height: 70px;
}

.footer-down-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 25px 0;
   align-items: center;
   color: rgb(214, 212, 212);
   height: 70px;
}


.footer-link {
   color: rgb(214, 212, 212);
}

/* ----- Alerts ----- */

.alert-container {
   position: fixed;
   top: 150px;
   left: 50%;
   transform: translateX(-50%);
   width: auto;
   z-index: 1050;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.alert-success {
   --bs-alert-color: var(--bs-success-text-emphasis);
   --bs-alert-bg: var(--bs-success-bg-subtle);
   --bs-alert-border-color: var(--bs-success-border-subtle);
   --bs-alert-link-color: var(--bs-success-text-emphasis);
}

/*---------------------*/
/* --- TRANSITIONS --- */
/* Fading In */
.page-fade-enter {
   opacity: 0;
   transform: translateY(20px);
   /* You can use other transform properties for different effects */
}

.page-fade-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

/* Fading Out */
.page-fade-exit {
   opacity: 1;
   transform: translateY(0);
}

.page-fade-exit-active {
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

/* ------------------- */

/* ------ TEXT ------- */

.text-outlined {
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

/* ------------------- */

/* -----Products------ */

.products-body-container {
   position: relative;
   height: 360px;
   margin-bottom: 200px;
}

.products-body-img {
   position: relative;
   height: 260px;
   background-image: url('../images/background-moldes-filtered.jpg');
   background-size: cover;
   background-position: center;
}


.products-text {
   color: var(--bs-white);
   text-align: center;
   width: 100%;
   padding: 20px;
   padding-top: 60px;
   font-size: rem;
}

.product-buttons-container {
   position: relative;
   top: 60px;
   display: flex;
   justify-content: space-between;
   gap: 40px;
}

.product-button {
   min-width: 125px;
   height: 125px;
   border-radius: 22px;
   background-color: var(--bs-white);
   text-align: center;
   color: var(--bs-primary);
   font-weight: 700;
   cursor: pointer;
   transition: transform 0.3s ease-in-out;
   border: 0px;
}

.product-button.active {
   color: var(--bs-white);
   background-color: var(--bs-primary);
}

.product-button.active i {
   color: var(--bs-white);
}

.product-button.disabled {
   cursor: initial;
   background-color: var(--bs-gray-400);
}

.product-button:hover {
   transform: translateY(-10px);
}

.product-button.disabled:hover {
   transform: translateY(0px);
}

.product-button i {
   color: var(--bs-primary);
   font-size: 46px;
}

.product-button p {
   position: relative;
   top: 5px;
}

.product-button i::before {
   margin-top: 20px;
}

.products-download .dropdown-toggle::after {
   content: none;
}

/* ------------------- */
/* -----POLICY------ */
/* ------------------- */

.policy-container {
   display: flex;
   justify-content: space-between;
   gap: 70px;
   margin: 150px 0px;
   height: 580px;
   align-items: stretch;
}

.policy-img-container {
   flex: 1 143px;
   height: auto;
}

.policy-img-container img {
   width: auto;
   height: 100%;
}

.policy-text-container {
   height: 100%;
   flex: 2;
   margin-left: 30px;
   display: flex;
   flex-direction: column;
}

.policy-quote-container {
   position: relative;
   bottom: 40px;
   margin-top: auto;
   background-color: var(--bs-secondary);
   color: var(--bs-white);
   padding: 20px;
   margin-left: -240px;
}

.policy-quote-container p {
   font-style: italic;
}

.policy-quote-text:after {
   content: '“';
   height: 91px;
   font-size: 6rem;
   color: var(--bs-white);
   position: absolute;
   right: 45px;
   bottom: 0px;
}

.policy-body-img {
   position: relative;
   height: 389px;
   background-image: url(../images/company-front.jpg);
   background-size: cover;
}

.policy-body-img h1 {
   color: var(--bs-white);
   text-align: center;
   width: 100%;
   padding: 20px;
   padding-top: 60px;
   font-size: rem;
}

.policy-text {
   padding: 52px;
   line-height: 30px;
}

/* ------------------- */
/* -----ABOUT------ */
/* ------------------- */

.about-body-img {
   position: relative;
   height: 290px;
   background-image: url(../images/company-front-filtered.jpg);
   background-size: cover;
   background-position-y: -112px;
}

.about-body-img h1 {
   color: var(--bs-white);
   text-align: center;
   width: 100%;
   padding: 20px;
   padding-top: 60px;
   font-size: rem;
}

.about-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 70px;
   margin: 150px 0px;
   height: 580px;
   align-items: stretch;
}

.about-text-container p {
   text-align: justify;
}

.about-img-container {
   flex: 1.5;
   height: auto;
   background-image: url('../images/office2.jpeg');
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: end;
   align-items: end;
}

.about-img-container img {
   max-width: 100%;
}

.about-img-container p {
   line-height: 25px;
}

.about-text-container {
   flex: 1;
   margin-left: 30px;
}

.about-mission-div {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 28px;
   width: 255px;
   height: 300px;
   flex-shrink: 0;
   background: var(--bs-secondary);
   color: var(--bs-white);
}

.about-vision-div {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 28px;
   width: 255px;
   height: 220px;
   flex-shrink: 0;
   background: var(--bs-primary);
   color: var(--bs-white);
}

.highlight {
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 28px;
}

.about-green-card {
   padding: 20px 30px 10px 30px;
   align-items: center;
   color: var(--bs-white);
   background-color: var(--bs-secondary);
   width: 50%;
   height: 180px;
   position: relative;
   top: -130px;
}

.about-quote-text:after {
   content: '“';
   height: 91px;
   font-size: 6rem;
   color: var(--bs-white);
   position: absolute;
   right: 45px;
   bottom: 0px;
}

.about-text {
   display: flex;
   gap: 90px;
   line-height: 34px;
   margin-top: -80px;
   margin-bottom: 90px;
}

.about-text:last-child {
   display: flex;
   gap: 90px;
   line-height: 34px;
   margin-top: 80px;
   margin-bottom: 20px;
}

/* ------------------- */
/* ---Sustainability--- */
/* ------------------- */

.sustain-container {
   text-align: center;
   margin: 120px;
}

.sustainability-title {
   margin-top: 0;
   font-weight: 700;
   margin-bottom: 3rem;
}

.sustainability-cards-container {
   margin-top: 20px;
   display: flex;
   justify-content: center;
   gap: 60px;
}

.sustainability-card {
   width: 18rem;
   transition: transform 0.3s ease-in-out;
}

.sustainability-card:hover {
   transform: translateY(-10px);
}

/* ------------------- */
/* ------Products----- */
/* ------------------- */
.product-container {
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
   gap: 70px;
}

.product-text-container {
   flex: 1.5;
}

.product-img-container {
   flex: 1;
   height: auto;
}

.abracadeira-square {
   display: inline-block;
   background-color: var(--bs-secondary);
   color: var(--bs-white);
   padding: 15px 30px 5px 30px;
   width: 280px;
   z-index: 1;
}

.product-square p {
   font-size: 14px;
}

.table-tampa {
   width: 500px;
   margin-top: 20px;
}

.abracadeira-img {
   position: relative;
   top: -64px;
   left: 113px;
   width: 350px;
}

.tampa-img {
   position: relative;
   top: 64px;
   left: 113px;
   width: 300px;
}

.intercalar-img {
   position: relative;
   top: -10px;
   left: 113px;
   width: 250px;
}

.perna-img {
   position: relative;
   top: -20px;
   width: 440px;
}

.tampa-veio-img {
   position: relative;
   top: -20px;
   width: 440px;
}

.tampa-veio-desenho-img {
   position: relative;
   /* top: -20px; */
   width: 480px;
}

.perna-animation {
   margin-top: 20px;
   width: 700px;
}

.tupperlink-square {
   display: inline-block;
   background-color: var(--bs-secondary);
   color: var(--bs-white);
   padding: 15px 30px 5px 30px;
   width: 280px;
   z-index: 1;
}

.tupperlink-img {
   position: relative;
   top: -98px;
   left: 13px;
   width: 550px;
}

.tupperlink-img-div {
   width: 300px;
   height: 350px;
}

.table-tupperlink {
   width: 500px;
}

.ultrasons-img {
   position: relative;
   left: 13px;
   width: 550px;
}

.ultrasons-img-div {
   width: 300px;
   height: 870px;
}

.tampa-caixa-img {
   position: relative;
   left: 13px;
   top: -20px;
   width: 550px;
}

.tampa-caixa-pequena-img-div {
   width: 300px;
   height: 870px;
}

.tampa-caixa-square {
   display: inline-block;
   background-color: var(--bs-secondary);
   color: var(--bs-white);
   padding: 15px 30px 5px 30px;
   width: 280px;
   z-index: 1;
}

.caixa-grande-img {
   position: relative;
   left: 13px;
   top: -60px;
   width: 550px;
}

.caixa-grande-img-div {
   width: 300px;
   height: 560px;
}

.caixa-grande-square {
   display: inline-block;
   background-color: var(--bs-secondary);
   color: var(--bs-white);
   padding: 15px 30px 5px 30px;
   width: 280px;
   z-index: 1;
   position: relative;
   left: 280px;
}




/* ------------------- */
/* ------CONTACTS----- */
/* ------------------- */

.contacts-body-container {
   position: relative;
   height: calc(100vh - 196px);
}

.content-container {
   position: relative;
   padding-top: 40px;
   z-index: 2;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
}

.form-overlay {
   position: absolute;
   top: -40px;
   z-index: 3;
   right: 0;
}

.form-contacts {
   width: 500px;
   border-radius: 22px;
   background-color: rgba(255, 255, 255, 1);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
   margin: 0 auto;
   padding: 20px;
   gap: 20px;
   box-sizing: border-box;
}

.form-contacts div {
   margin-bottom: 40px;
}

.card-overlay {
   position: absolute;
   top: 110px;
   z-index: 3;
}

.contacts-card {
   font-size: 14px;
   padding: 15px 0 10px 25px;
   display: flex;
   flex-direction: column;
   width: 280px;
   height: 410px;
   border-radius: 22px;
   background-color: var(--bs-white);
}

.contacts-card h5 {
   color: var(--bs-primary);
   margin-top: 10px;
}

.contacts-green-card {
   padding: 20px 0 10px 15px;
   color: var(--bs-white);
   width: 60%;
   height: 95px;
}

.green-card-overlay {
   width: 100%;
   background-color: var(--bs-primary);
   position: relative;
   left: 0;
   top: 0;
   z-index: 2;
}

/* ----- SCROLL ----- */

*::-webkit-scrollbar {
   width: 12px;
   height: 10px;
}

*::-webkit-scrollbar-track {
   border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
   border-radius: 8px;
   background-clip: content-box;
   background-color: var(--bs-gray-600);
}

*::-webkit-scrollbar-thumb:hover {
   background-color: var(--bs-gray-700);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* -- Floating Labels fix -- */

.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-control-plaintext~label::after,
.form-floating>.form-select~label::after {
   inset: 0.5rem 0.375rem;
   z-index: -1;
   height: 2em;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-control-plaintext~label,
.form-floating>.form-select~label {
   width: 100%;
}

/* ------------------- */

@media (max-width: 1000px) {
   .icon-container p {
      display: none;
   }

   .container-md,
   .container-sm,
   .container {
      max-width: 100%;
   }

   .sustain-container {
      margin: 40px;
   }
}

/* For handling half containers */
@media (min-width: 1400px) {

   .container-half {
      max-width: 630px;
      margin-right: 0;
      margin-left: auto;
   }
}

@media (max-width: 1400px) {

   .container-half {
      max-width: 540px;
      margin-right: 0;
      margin-left: auto;
   }

   .about-green-card {
      height: 190px;
   }
}

@media (max-width: 1200px) {

   .container-half {
      max-width: 450px;
      margin-right: 0;
      margin-left: auto;
   }

   .about-green-card {
      height: 220px;
   }

   .product-buttons-container {
      overflow-x: auto;
      padding-bottom: 20px;
      margin-right: -100px;
      margin-left: -100px;
   }

   .product-container{
      flex-wrap: wrap;
   }
}

@media (max-width: 1140px) {
   .product-buttons-container {
      overflow-x: auto;
      padding-bottom: 20px;
      margin-left: -92px;
      margin-right: -92px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      top: 110px;
   }
}

@media (max-width: 1100px) {
   .product-buttons-container {
      overflow-x: auto;
      padding-bottom: 20px;
      margin-left: -30px;
      margin-right: -30px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      top: 56px;
   }
}

@media (max-width: 1020px) {
   .product-buttons-container {
      overflow-x: auto;
      padding-bottom: 20px;
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      top: 56px;
   }

   .product-buttons-container .product-button.disabled {
      display: none;
   }

   
}

@media (max-width: 992px) {
   .product-container.product-tampa {
      gap: 50px;
      flex-wrap: wrap-reverse;
      gap: 20px;
   }

   .navbar-nav {
      flex-direction: row;
   }

   .offcanvas-body .navbar-nav {
      flex-direction: column;
   }

   .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
   }

   .container-half {
      max-width: 100%;
      margin-right: 0;
      margin-left: auto;
   }

   .about-green-card {
      width: 100%;
      height: 150px;
      padding-left: 0px;
      padding-right: 0px;
   }

   .about-text {
      flex-wrap: wrap;
      gap: 50px;
   }

   .about-text .flex-1 {
      flex-basis: 100%;
      text-align: justify;
   }

   .policy-container {
      gap: 10px;
   }
}

@media (max-width: 768px) {

   *::-webkit-scrollbar {
      width: 0px;
      height: 0px;
   }

   *::-webkit-scrollbar-track {
      border-radius: 0px;
   }

   *::-webkit-scrollbar-thumb {
      border-radius: 0px;
      background-clip: content-box;
      background-color: var(--bs-gray-600);
   }

   .container-half {
      max-width: 100%;
      margin-right: 0;
      margin-left: auto;
   }
}

@media (max-width: 670px) {


   .about-green-card {
      width: 100%;
      height: 190px;
   }
}

@media (max-width: 676px) {

   .container-half {
      max-width: 100%;
      margin-right: 0;
      margin-left: auto;
   }

   /* ---- About ---- */

   .about-container {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: space-between;
      margin: 57px 0px;
      height: 906px;
      gap: 63px;
      align-items: stretch;
   }

   .about-text-container {
      flex: 1;
      width: 100%;
      flex-basis: auto;
      margin-left: 0;
   }

   .about-vision-div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 28px;
      width: 186px;
      height: 301px;
      flex-shrink: 0;
      background: var(--bs-primary);
      color: var(--bs-white);
   }

   .about-mission-div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 28px;
      width: 218px;
      height: 362px;
      flex-shrink: 0;
      background: var(--bs-secondary);
      color: var(--bs-white);
   }

   .about-img-container {
      flex: 1.5;
      background-image: url(../images/office2.jpeg);
      background-position: center;
      background-size: cover;
      background-position-y: -198px;
      display: flex;
      justify-content: end;
      align-items: end;
      height: 566px;
   }

   .about-text:last-child {
      gap: 30px;
   }

   .about-green-card {
      height: 212px;
   }

   .about-body-img {
      background-position-y: unset;
      background-position-x: -100px;
   }

   /* ---- Policy ----*/

   .policy-container {
      display: flex;
      justify-content: space-between;
      gap: 70px;
      margin: 60px 0px;
      height: unset;
      align-items: stretch;
      flex-wrap: wrap;
   }

   .policy-img-container img {
      width: 100%;
      height: auto;
   }

   .policy-quote-container {
      position: relative;
      font-size: 13px;
      bottom: 155px;
      margin-top: auto;
      background-color: var(--bs-secondary);
      color: var(--bs-white);
      padding: 20px;
      margin-left: unset;
      z-index: 4;
   }

   .policy-img-container {
      flex: 1 143px;
      height: 430px;
      flex-basis: 100%;
   }

   .policy-text-container {
      height: 100%;
      flex: 2;
      margin-left: unset;
      display: flex;
      flex-direction: column;
   }

   .policy-text {
      padding: 20px;
   }

   .policy-body-img {
      height: 150px;
      background-position-x: center;
   }

   /* ---- Products ----*/

   .products-text {
      padding: unset;
      padding-top: 32px;
   }

   .product-buttons-container {
      overflow-x: unset;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 40px;
      padding-right: 40px;
      gap:24px;
      top: 50px;
      flex-wrap: wrap;
   }

   .products-body-container {
      position: relative;
      height: 500px;
      margin-bottom: 60px;
   }

   .nav-tabs .nav-link {
      white-space: nowrap;
   }

   .nav-tabs {
      flex-wrap: nowrap;
      overflow: scroll;
   }

   .product-buttons-container .product-button.disabled {
      display: none;
   }

   .products-body-img {
      position: relative;
      height: 370px;
      background-image: url(../images/background-moldes-filtered.jpg);
      background-size: cover;
      background-position: center;
   }

   /*Industria*/

   .product-container {
      gap: 50px;
      flex-wrap: wrap;
   }

   .perna-animation {
      width: 100%;
   }

   .abracadeira-img {
      position: relative;
      top: -48px;
      left: 113px;
      width: 246px;
   }

   .perna-img {
      display: none;
   }

   .product-container.product-tampa {
      flex-wrap: wrap-reverse;
      gap: 20px;
   }

   .table-tampa {
      width: 100%;
   }

   .tampa-img {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
   }

   .intercalar-img {
      position: relative;
      top: -10px;
      left: 50%;
      width: 200px;
      transform: translateX(-50%);
   }

   .tampa-veio-img {
      width: 290px;
      left: 50%;
      transform: translateX(-50%);
   }

   .ultrasons-img {
      width: 350px;
      left: 50%;
      transform: translateX(-50%);
   }

   .ultrasons-img-div {
      width: 100%;
      height: auto;
   }

   /*Farmacy*/

   .caixa-grande-img-div {
      width: 100%;
      height: 100%;
   }

   .caixa-grande-img {
      width: 310px;
      left: 50%;
      transform: translateX(-50%);
   }

   .tampa-caixa-img {
      width: 310px;
      left: 50%;
      transform: translateX(-50%);
   }

   .tampa-veio-desenho-img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 20px;
      width: 300px;
  }

   .caixa-grande-square {
      left: 90px;
   }

   /*Takeaway*/

   .table-tupperlink {
      width: 100%;
   }

   .tupperlink-img-div {
      width: 100%;
   }

   .tupperlink-img {
      width: 100%;
      top: -64px;
      left: 50%;
      transform: translateX(-50%);
   }

   /* -- Contacts --*/

   .contacts-body-container .content-container{
      flex-wrap: wrap;
   }
   .card-overlay {
      position: unset; 
      top: 110px;
      z-index: 3;
      width: 100%;
   }

   .contacts-card {
      width: 100%;
      box-shadow: unset !important;
   }

   .form-overlay {
      width: 100%;
      position: unset;
      z-index: 3;
   }

   .form-contacts .btn {
      width: 100%;
   }

   .form-contacts {
      width: 100%;
      box-shadow: unset !important;
   }

   .contacts-green-card {
      width: 100%;
      height: 104px;
   }

   .map-class{
      display: none;
   }

   .contacts-body-container{
      height: 100%;
   }

   /* -- Footer --*/

   .footer-up-container {
      padding: 25px 20px;
   }

   .footer-down-container {
      padding-left: 8px;
   }

   .icon-container {
      padding: 4px;
   }

   footer img {
      width: 106px;
      height: auto;
      margin-right: 20px;
  }

  .table > :not(caption) > * > * {
   padding: 0.3rem 0.4rem;
  }
}

@media (max-width: 380px) {
   .product-buttons-container{
      gap: 24px;
   }

   .table > :not(caption) > * > * {
      padding: 0.2rem 0.2rem;
     }

   .container{
      padding: 2%;
   }

   footer img {
      width: 80px;
      height: auto;
      margin-right: 20px;
  }
}

@media (max-width: 364px) {
   .product-buttons-container{
      padding-right: 8px;
      padding-left: 8px;
   }
}