@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   scroll-behavior: smooth;
}
#root{
   height: 100vh;
}

.pointer {
   cursor: pointer;
}

.text-shadow {
   text-shadow: 1px 1px 1px #000;
}

/* --- MAIN PAGE --- */

.main--hero-image {
   height: 830px;
   background: rgba(45, 101, 118, 0.50);
}

.main--hero-section {
   background-image: url('./images/company-front.jpg');
   background-position: center;
   background-size: cover;
}

.main--hero-section {
   background-image: url('./images/company-front.jpg');
   background-position: center;
   background-size: cover;
}

/* ----- CAROUSEL ----- */

.carousel-img {
   width: 100%;
   height: auto;
}

.carousel p,
.carousel h1 {
   text-shadow: 1px 1px 1px #000;
}

.carousel-caption {
   position: absolute;
   right: 15%;
   bottom: 35%;
   left: 15%;
   padding-top: 1.25rem;
   padding-bottom: 1.25rem;
   color: #fff;
   text-align: center;
}

/* ----------------------*/

/* ------ ICONS ------*/
i {
   color: rgb(214, 212, 212);
}

.socials i {
   margin-right: 15px;
}

.icon-big-container {
   display: flex;
}

.icon-container {
   margin-top: 10px;
   display: flex;
   padding: 15px;
}

.icon-container i {
   margin-right: 5px;
   margin-bottom: 15px;
}

/* --------------------*/
/* ------ FOOTER ------*/
footer {
   position: relative;
   bottom: 0;
   left: 0;
   width: 100%;
}

.footer-up {
   background-color: #304148;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   color: rgb(214, 212, 212);
   border-bottom: 1px solid white;
   padding: 25px 85px;
}

footer img {
   width: 139px;
   height: 73px;
   margin-right: 20px;
}

.footer-down {
   background-color: #304148;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 25px 85px;
   align-items: center;
   color: rgb(214, 212, 212);
   height: 70px;
}

.footer-down p {
   margin-top: 5px;
   margin-right: 46%;
}

.footer-link {
   color: rgb(214, 212, 212);
}

/*---------------------*/
/* --- TRANSITIONS --- */
/* Fading In */
.page-fade-enter {
   opacity: 0;
   transform: translateY(20px);
   /* You can use other transform properties for different effects */
}

.page-fade-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

/* Fading Out */
.page-fade-exit {
   opacity: 1;
   transform: translateY(0);
}

.page-fade-exit-active {
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

/* ------------------- */

/* ------ TEXT ------- */

.text-outlined {
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

/* ------------------- */

/* -----SERVICES------ */

.services-body-container {
   position: relative;
   height: 450px;
   margin-bottom: 200px;
}

.services-body-img {
   position: relative;
   height: 500px;
   background-image: url('./images/background-moldes-filtered.jpg');
   background-size: cover;
   background-position: center;
}


.services-text {
   color: white;
   text-align: center;
   width: 100%;
   padding: 20px;
}

.cards-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
   top: 0;
   margin-left: 150px;
   margin-right: 150px;
   position: relative;
}

.card-link {
   color: rgba(45, 101, 118);
   text-decoration: none;
   font-weight: bold;
}

/* ------------------- */
/* -----GALLERY------ */
/* ------------------- */

.gallery-container {
   margin: 50px;
   text-align: center;
}

.gallery-img-container {
   margin: 10px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
}

.gallery-img-container img {
   width: 100%;
   height: auto;
}

/* ------------------- */
/* -----POLICY------ */
/* ------------------- */

.policy-container {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin: 50px;
}

.policy-img-container {
   flex: 1 143px;
   background-image: url(./images/company-front.jpg);
   background-position: center;
   background-size: cover;
   height: 450px;
}

.policy-img-container img {
   max-width: 100%;
}

.policy-text-container {
   flex: 2;
   margin-left: 30px;
}

/* ------------------- */
/* -----ABOUT------ */
/* ------------------- */

.about-container {
   display: flex;
   justify-content: space-between;
   gap: 70px;
   margin: 150px;
   height: 100%;
   align-items: stretch;
}

.about-text-container p {
   text-align: justify;
}

.about-img-container {
   flex: 1;
   height: auto;
   background-image: url('./images/office2.jpeg');
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: end;
   align-items: end;
}

.about-img-container img {
   max-width: 100%;
}

.about-text-container {
   flex: 1;
   margin-left: 30px;
}

.about-vision-div {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 28px;
   width: 255px;
   height: 223px;
   flex-shrink: 0;
   background: #2D6576;
   color: white;
}

.about-mission-div {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 28px;
   width: 255px;
   height: 271px;
   flex-shrink: 0;
   background: #4154F1;
   color: white;
}

.highlight {
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 28px;
}

/* ------------------- */
/* ---Sustainability--- */
/* ------------------- */

.sustain-container {
   text-align: center;
   margin: 120px;
}

.sustainability-title {
   margin-top: 0;
}

.sustainability-cards-container {
   margin-top: 20px;
   display: flex;
   justify-content: center;
   gap: 60px;
}

.sustainability-card {
   transition: transform 0.3s ease-in-out;
}

.sustainability-card:hover {
   transform: translateY(-10px);
}

/* ----- SCROLL ----- */
/* Styles for Vertical Scrollbar */
.track-vertical {
   top: 2px;
   bottom: 2px;
   right: 5px;
   border-radius: 3px;
   background: rgba(0, 0, 0, 0); /* Darker background color */
 
   .thumb-vertical {
     position: relative;
     display: block;
     width: 10px !important; /* Adjust the width of the thumb */
     cursor: pointer;
     border-radius: 5px; /* Slightly rounder corners */
     background-color: rgba(0, 0, 0, 0.7); /* Lighter color for the thumb */
   }
 }
 
 /* Styles for Horizontal Scrollbar */
 .track-horizontal {
   position: absolute;
   height: 8px; /* Adjust the height of the track */
   right: 2px;
   bottom: 2px;
   left: 2px;
   border-radius: 3px;
   background: rgba(0, 0, 0, 0); /* Darker background color */
 
   .thumb-horizontal {
     position: relative;
     display: block;
     height: 100%;
     cursor: pointer;
     border-radius: 5px; /* Slightly rounder corners */
     background-color: rgba(255, 255, 255, 0.7); /* Lighter color for the thumb */
   }
 }
 
 /* Styles for Scrollbar View */
 .view {
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   overflow: scroll;
   margin-right: -15px;
   margin-bottom: -17px !important;
 }
 
/* ------------------- */